<div class="page">
    <div class="page__block">
        <div class="page__section">
            <div class="page__title">{{title}}</div>
            <div class="page__subtitle">{{subtitle}}</div>
        </div>
        <div class="page__button">
            {{{link}}}
        </div>
    </div>
</div>
