<form class="main-form main-form--auth"
      data-form>
    <div class="main-form__title">
        {{{title}}}
    </div>
    <div class="main-form__middle">
        {{{input}}}
    </div>
    <div class="main-form__footer">
        <div class="button-block">
            {{{button}}}
        </div>
        <div class="button-block">
            {{{link}}}
        </div>
    </div>
</form>
