<div class="chat">
    {{{sidebar}}}
    <main class="chat__block">
        {{{header}}}
        <section class="chat__content">
            {{{messages}}}
        </section>
        {{{footer}}}
    </main>
</div>
