<section class="profile">
    {{{backButton}}}
    <div class="profile__block">
        <div class="profile__content">
            {{{avatar}}}
            <div class="profile-list">
                {{{profileFormItem}}}
                {{{profileFormItemLink}}}
            </div>
        </div>
    </div>
</section>
