<div class="update-modal"
     data-modal-block="{{dataAttr}}">
    <div class="update-modal__title">
        {{title}}
    </div>
    <div class="update-modal__block">
        {{{input}}}
    </div>
    <div class="update-modal__footer">
        {{{button}}}
    </div>
</div>
