<div class="chat">
    {{{sidebar}}}
    <main class="chat__block">
        <div class="empty">
            <div class="empty__text">
                Выберите чат, чтобы отправить сообщение
            </div>
        </div>
    </main>
</div>
