---
meta:
  author: Michael Kim
scripts:
  - ../src/index.js
stylesheets:
  - ../src/scss/common.scss
title: Chat Page
---
{{#extend "base"}}
    {{#content "main"}}
        {{#extend "profile-base"}}
            {{#content "content"}}
                {{>avatar}}
                <div class="profile-list">
                    {{#each profile.main}}
                        {{#extend "profileFormItem" isHtml=true}}
                            {{#content "label"}}
                                {{label}}
                            {{/content}}
                            {{#content "value"}}
                                {{>input label='' type='text' modify='border-none' value=value}}
                            {{/content}}
                        {{/extend}}
                    {{/each}}
                </div>
                <div class="center">
                    {{>button text='Сохранить'}}
                </div>
            {{/content}}
        {{/extend}}
    {{/content}}
{{/extend}}
