---
meta:
author: Michael Kim
scripts:
- ../src/index.js
stylesheets:
- ../src/scss/common.scss
title: Chat Page
---
{{#extend "base"}}
    {{#content "main"}}
        {{#extend "chat-page"}}
            {{#content "chat"}}
                <div class="empty">
                    <div class="empty__text">
                        Выберите чат, чтобы отправить сообщение
                    </div>
                </div>
            {{/content}}
        {{/extend}}
    {{/content}}
{{/extend}}
