---
meta:
  author: Michael Kim
scripts:
  - ../src/index.ts
stylesheets:
  - ../src/scss/common.scss
title: Chat Page
---
{{#extend "base"}}
    {{#content "main"}}
        {{#extend "profile-base"}}
            {{#content "content"}}
                {{>avatar canChange=true}}
                {{>profileList list=profile.main}}
                <div class="profile-list">
                    {{#extend "profileFormItem"}}
                        {{#content "text"}}
                            {{>link link='./change-data.hbs' text='Изменить данные'}}
                        {{/content}}
                    {{/extend}}
                    {{#extend "profileFormItem"}}
                        {{#content "text"}}
                            {{>link link='./change-password.hbs' text='Изменить пароль'}}
                        {{/content}}
                    {{/extend}}
                    {{#extend "profileFormItem"}}
                        {{#content "text"}}
                            {{>link link='./auth.hbs' text='Выйти' modify='alert'}}
                        {{/content}}
                    {{/extend}}
                </div>
            {{/content}}
        {{/extend}}
    {{/content}}
{{/extend}}
