---
meta:
  author: Michael Kim
scripts:
  - ../src/index.js
stylesheets:
  - ../src/scss/common.scss
title: Index Page
uri: /register
---
{{#extend "base"}}
    {{#content "main"}}
        {{#extend "mainForm"}}
            {{#content "title"}}
                {{>title text='Регистрация'}}
            {{/content}}
            {{#content "middle"}}
                {{#each register}}
                    {{>input modify=modify type=type label=label err=error}}
                {{/each}}
            {{/content}}
            {{#content "footer"}}
                <div class="button-block">
                    {{>button text='Зарегистрироваться'}}
                </div>
                <div class="button-block">
                    {{>link text='Войти' link='./auth.hbs'}}
                </div>
            {{/content}}
        {{/extend}}
    {{/content}}
{{/extend}}
