<section class="profile">
    {{>backButton link='./index.hbs' text='Назад к чатам'}}
    <div class="profile__block">
        <div class="profile__content">
            {{#block "content"}}{{/block}}
        </div>
    </div>
</section>
