<nav class="sidebar" data-search-block>
    <div class="sidebar__title">
        <div class="sidebar__column sidebar__column--right">
            <a href="{{link}}"
               class="sidebar__link">Профиль</a>
        </div>
        <div class="sidebar__search">
            {{{search}}}
        </div>
    </div>
    <div class="sidebar__content">
        <ul class="sidebar__content-block">
            {{{contact}}}
        </ul>
    </div>
</nav>
