<form class="chat__tools"
      data-form>
    <div class="chat__add">
        <button type="button"
                data-button="add"
                class="button button--transparent button--add"></button>
        <div class="list-item-modal chat__add-block">
            {{{listItem}}}
        </div>
    </div>
    <div class="chat__write">
        {{{input modify="text" type="text" placeholder="Сообщение"}}}
    </div>
    <div class="chat__submit">
        <button type="button"
                data-button="submit"
                class="button button--transparent button--submit"></button>
    </div>
</form>
