<div class="main-form main-form--auth">
    <div class="main-form__title">
        {{#block "title"}}{{/block}}
    </div>
    <div class="main-form__middle">
        {{#block "middle"}}{{/block}}
    </div>
    <div class="main-form__footer">
        {{#block "footer"}}{{/block}}
    </div>
</div>
