@import './variables';

.back-button {
  display: block;
  width: 65px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;

  &__link {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $color-bg-simple url('../../images/back-button.svg') no-repeat center center;
    transition: background-color $transition;
    border-right: 1px solid $color-border;

    &:hover {
      background-color: $color-bg-additional;
      background-image: url('../../images/back-button-active.svg');
    }
  }
}
