@import './variables';

.back-button {
  display: block;
  width: 65px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;

  &__link {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $color-bg-simple url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28'%3E%3Ccircle fill='%233369F3' cx='14' cy='14' r='14'/%3E%3Cpolygon fill='%23FFFFFF' points='20 13.2 10.66 13.2 13.63 9.5 12.38 8.5 7.98 14 12.38 19.5 13.63 18.5 10.66 14.8 20 14.8 20 13.2'/%3E%3C/svg%3E%0A") no-repeat center center;
    transition: background-color $transition;
    border-right: 1px solid $color-border;

    &:hover {
      background-color: $color-bg-additional;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28'%3E%3Ccircle fill='%230A4CFF' cx='14' cy='14' r='14'/%3E%3Cpolygon fill='%23FFFFFF' points='20 13.2 10.66 13.2 13.63 9.5 12.38 8.5 7.98 14 12.38 19.5 13.63 18.5 10.66 14.8 20 14.8 20 13.2'/%3E%3C/svg%3E%0A")
    }
  }
}
