@import './variables';

@mixin radialButton {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 28px;
    height: 28px;
    margin-top: -14px;
    margin-left: -14px;
  }
}

.button {
  cursor: pointer;
  box-shadow: none;
  border: none;
  outline: none;

  &--main {
    color: $color-button;
    background: $color-active none;
    width: 280px;
    height: 37px;
    text-align: center;
    border-radius: 8px;
    font-size: 13px;
    transition: background-color $transition;

    &:hover {
      background-color: $color-active-additional;
    }
  }

  &--transparent {
    background: transparent none;
  }

  &--add {
    width: 28px;
    height: 28px;
    background: transparent url('../../images/paper-clip.svg') no-repeat center center;

    &::after {
      content: '';
      display: block;
    }

    &.active {
      background-image: url('../../images/paper-clip-active.svg');
    }
  }

  &--submit {
    @include radialButton();

    &::before {
      background-color: $color-active;
      transition: background-color $transition;
    }

    &::after {
      background: url('../../images/arrow-right.svg') no-repeat center center;
    }

    &:hover {
      &::before {
        background-color: $color-active-additional;
      }
    }
  }

  &--config {
    @include radialButton();

    &::before {
      background-color: transparent;
      transition: background-color $transition;
    }

    &::after {
      background: url('../../images/three-dots.svg') no-repeat center center;
    }

    &.active,
    &:hover {
      &::before {
        background-color: $color-button-additional;
      }
    }
  }
}
