@import './variables';

.list-item-modal {
  display: block;
  background: $color-bg;
  box-shadow: 0 0 6px $color-bg-transparent-additional;
  border-radius: 12px;
  padding: 5px 15px;
}

.list-item {
  cursor: pointer;
  color: $color;
  transition: color $transition;

  &:hover {
    color: $color-active;
  }

  &--modify {
    position: relative;
    padding: 10px 0 10px 30px;
    background: no-repeat left center;
  }

  &--add {
    background-image: url('../../images/add.svg');
  }

  &--remove {
    background-image: url('../../images/cross.svg');
  }

  &--media {
    background-image: url('../../images/media.svg');
  }

  &--file {
    background-image: url('../../images/file.svg');
  }

  &--location {
    background-image: url('../../images/location.svg');
  }
}
