@import './variables';

.messages {
  display: flex;
  flex-direction: column;

  &__date {
    margin: 50px 0 30px;
    text-align: center;
    color: $color-additional;
    font-weight: $font-medium;
  }
}

$msg: '.message';

#{$msg} {
  font-weight: $font-medium;
  border-radius: 20px;
  padding: 15px;
  background: $color-bg-additional;
  max-width: 400px;
  overflow: hidden;
  position: relative;
  margin: 20px 0;

  &.someone {
    align-self: flex-start;
    background-color: $color-bg-msg;

    #{$msg} {
      &__meta {
        color: $color-status-text;
      }
    }
  }

  &.mine {
    align-self: flex-end;
    background-color: $color-bg-active;

    #{$msg} {
      &__meta {
        color: $color-status-mine;
      }
    }
  }

  &.media {
    #{$msg} {
      &__meta {
        color: $color-button;
        border-radius: 15px;
        padding: 5px 10px;
        position: absolute;
        bottom: 15px;
        right: 15px;
      }
    }

    &.mine {
      #{$msg} {
        &__meta {
          background-color: $color-status-mine;
        }
      }
    }

    &.someone {
      #{$msg} {
        &__meta {
          background-color: $color-status-media;
        }
      }
    }
  }

  &__content {
    float: left;
  }

  &__meta {
    font-size: 9px;
    float: right;
    padding: 0 0 0 15px;
    margin-left: 15px;

    &.status {
      margin-top: 3px;
      background: url('../../images/delivered.svg') no-repeat left center;

      &.seen {
        background-image: url('../../images/viewed.svg');
      }
    }
  }
}
