@import './variables';

$modal: '.modal';

#{$modal} {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);

  &__block {
    position: relative;
    padding: 30px;
    margin: auto;
    background-color: $color-bg-additional;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;

    &-content {
      display: flex;
      flex-direction: column;
      color: $color-bg-additional;
      min-height: 200px;
      max-height: 80vh;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;

      > div {
        flex-grow: 1;
      }
    }
  }

  &__close {
    cursor: pointer;
    height: 16px;
    width: 16px;
    background: transparent no-repeat center center;
    position: absolute;
    top: 15px;
    right: 15px;
  }
}
