@import './variables';

.page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__section {
    margin-bottom: 80px;
  }

  &__block {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-weight: $font-medium;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 40px;
  }

  &__subtitle {
    font-size: 20px;
  }
}
